/* .decoration {
    text-decoration: line-through;
}

.weight {
	font-weight: 700;
}

.colored {
	color: red;
}

ul {
	padding: 30px;
	border: 1px solid red;
}
li {
	list-style-type: none;
	margin-bottom: 20px;
	border: 1px dashed black;
} */

/* 422 */
/* div, ul, li {
	padding: 20px;
}

div {
	border: 1px solid red;
}
ul {
	border: 1px solid orange;
}
li {
	border: 1px solid green;
} */

/* 426 */
/* #block:not(.active) {
	display: none;
} */

/* 450 */
/* p {
	color: red;
} */